<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ 'css/main.css' | url }}">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📧</text></svg>"></link>
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <main>
	    {{ content | safe }}
    </main>
    <footer>
        {% set links = [
            {url: 'https://twitter.com/iamconorwilson', title: 'Twitter', image: 'assets/images/social-assets/twitter.png'},
            {url: 'https://www.instagram.com/iamconorwilson/', title: 'Instagram', image: 'assets/images/social-assets/instagram.png'},
            {url: 'https://github.com/iamconorwilson/', title: 'Github', image: 'assets/images/social-assets/github.png'}
        ] %}
        <div class="social-links">
        {% for link in links %}
            <a href="{{ link.url }}">
                <img src="{{ link.image | url }}" alt="{{ link.title }}">
            </a>
        {% endfor %}
        </div>
        <p class="footer-message">
            No cookies, no tracking :)
        </p>
        <script src="js/main.js"></script>
    </footer>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>