/* --- Variables --- */
$primary-color: #ffffff;
$background-color: #220042;
$text-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
$transition-speed: 0.2s;

$font-stack: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-stack-secondary: 'Doto Rounded', 'Courier New', monospace;
$font-color: $primary-color;
$link-hover-color: $primary-color;


/* --- Custom Font --- */
@font-face {
    font-family: 'Doto Rounded';
    src: url('../assets/fonts/Doto_Rounded-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

/* --- Base Styles --- */
body {
    height: 100svh;
    font-family: $font-stack;
    line-height: 1.5;
    margin: 0 3rem;
    color: $font-color;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 3.5rem;
    margin: 0;
    line-height: 1.2;
    font-weight: 600;
    text-shadow: $text-shadow;
    font-family: $font-stack-secondary;
    text-wrap: balance;
}

p {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: -0.03rem;
    text-wrap: pretty;

}

a {
    color: $link-hover-color;
    text-decoration: underline;
    font-weight: normal;

    &:hover {
        text-decoration: none;
    }
}

/* --- Components --- */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 10rem);

    .flex-wrapper {
        max-width: 810px;
        width: 100%;
    }
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 90vw;
    padding: 0 40px;
    margin-bottom: 30px;
    gap: 1rem;

    p {
        font-size: 0.875rem;
        opacity: 0.6;
        margin: 0;
        letter-spacing: 0;
    }

    .social-links {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        a {
            display: inline-block;
            text-decoration: none;
        }

        img {
            display: block;
            width: 30px;
            height: 30px;
            opacity: 1;
            transition: opacity $transition-speed ease-in-out;
        }

        a:hover img {
            opacity: 0.6;
        }
    }
}

.bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    background-color: $background-color;
    transform: translateX(calc((100% - 100vw) / 2));

    &.fallback {
        background: url(../assets/images/bg-image.jpg) no-repeat center / cover;
        transform: none;
    }
}

canvas#canvas {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(4, 2);
    filter: blur(4px);
    --gradient-color-1: #2369E1;
    --gradient-color-2: #B01E9D;
    --gradient-color-3: #220042;
    --gradient-color-4: #220042;
    --gradient-speed: 0.000008;
    opacity: 0;
    transition: opacity 0.5s ease;

    &.loaded {
        opacity: 1;
    }
}

#listen {
    opacity: 0;
    transition: opacity $transition-speed ease;

    &.loaded {
        opacity: 1;
    }
}

/* --- Animations --- */
.fadeup {
    animation: fadeUpIn 0.6s ease forwards;
    opacity: 0;
    animation-delay: 0.2s;
}

.fadein {
    animation: fadeIn 1s ease forwards;
    opacity: 0;
    animation-delay: 0.4s;
}

/* --- Keyframes --- */
@keyframes ellipsis {
    to {
        width: 1em;
    }
}

@keyframes fadeUpIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* --- Media Queries --- */
@media screen and (max-width: 768px) {
    footer {
        padding: 0;
        gap: 0;
    }
}

@media screen and (max-width: 580px) {
    body {
        margin-inline: clamp(1rem, 5vw, 3rem);
    }

    h1 {
        font-size: clamp(2.5rem, 10vw, 3.5rem);
    }

    footer {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
}