---
title: Conor Wilson - CRM and Web developer/designer
description: CRM and Web developer/designer based in London, UK. Currently making email awesome at ActionRocket.
layout: "base.njk"
---

<div class="bg">
    <canvas id="canvas"/>
</div>
<div class="flex-wrapper">
    <h1 class="fadeup">Hello, I am Conor Wilson</h1>
    <div class="fadein">
        <p>Web and CRM developer/designer based in London, UK</p>
        <p>Currently making email awesome at
            <a href='https://actionrocket.co' target='_blank'>ActionRocket</a>
            and listening to
            <a href="#" id='listen' target='_blank'></a>
        </p>
        <p>I also make incredible Mac and Cheese</p>
    </div>
</div>