---
title: Conor Wilson - CRM and Web developer/designer
layout: "base.njk"
---

<div class="bg">
    <canvas id="canvas"/>
</div>
<div class="flex-wrapper">
    <h1>Hello, I am Conor&nbsp;Wilson</h1>
    <p>CRM and Web developer/designer based in London,&nbsp;UK</p>
    <p>Currently making email awesome at
        <a href='https://actionrocket.co' target='_blank'>ActionRocket</a>
        and listening to&nbsp;<a href="#" id='listen' target='_blank'></a>
    </p>
    <p>I also make incredible Mac and&nbsp;Cheese</p>
</div>