<footer>
        {% set links = [
            {url: 'https://twitter.com/iamconorwilson', title: 'Twitter', image: 'assets/images/social/twitter.svg'},
            {url: 'https://www.instagram.com/iamconorwilson/', title: 'Instagram', image: 'assets/images/social/instagram.svg'},
            {url: 'https://github.com/iamconorwilson/', title: 'Github', image: 'assets/images/social/github.svg'},
            {url: 'https://www.linkedin.com/in/iamconorwilson/', title: 'LinkedIn', image: 'assets/images/social/linkedin.svg'}
        ] %}
        <div class="social-links">
        {% for link in links %}
            <a href="{{ link.url }}">
                <img src="{{ link.image | url }}" alt="{{ link.title }}">
            </a>
        {% endfor %}
        </div>
        <p class="footer-message">
            No cookies, no tracking :)
        </p>
    </footer>