<footer>
        {% set links = [
            {url: 'https://www.linkedin.com/in/iamconorwilson/', title: 'LinkedIn', image: 'assets/images/social/linkedin.svg'},
            {url: 'https://github.com/iamconorwilson/', title: 'Github', image: 'assets/images/social/github.svg'},
            {url: 'https://bsky.app/profile/conor.digital', title: 'BlueSky', image: 'assets/images/social/bsky.svg'},
            {url: 'https://www.instagram.com/iamconorwilson/', title: 'Instagram', image: 'assets/images/social/instagram.svg'}
        ] %}
        <div class="social-links">
        {% for link in links %}
            <a href="{{ link.url }}">
                <img src="{{ link.image | url }}" alt="{{ link.title }}">
            </a>
        {% endfor %}
        </div>
        <p class="footer-message">
            No Cookies, No Tracking :)
        </p>
    </footer>